#main

  .hero-unit

    .row

      .span6

        h1= config.site

        p #{t('This site runs')} #[a(href="http://pump.io/") pump.io], #{t('the high-performance Open Source social engine. It pumps your life in and out of your friends, family and colleagues')}.

        if config.disableRegistration

          p
            | #{t('No pump.io account yet?')} 
            a(href="http://pump.io/tryit") #{t('Try it')}
            | !

        else

          p
            a.btn.primary.large(href="/main/register") #{t('Get Started')} &raquo;

      .span4
        img.img-rounded(src="images/somefriends.jpg", width="340", height="235")

        div
          p
            | #{t('Check out the')} 
            a(href="https://pumpio.readthedocs.org/en/latest/userguide.html" target="_blank") #{t('basic user guide')}
            | .
