.container

  a.brand(href="/")= config.site

  .btn-group
    button.btn.btn-small.primary#post-note-button(type="button", title="#{t('Post a note')}")
      span.hidden-phone #{t('Note')} 
      i.fa.fa-pencil
    if config.canUpload
      button.btn.btn-small.primary#post-picture-button(type="button", title="#{t('Post a picture')}")
        span.hidden-phone #{t('Picture')} 
        i.fa.fa-picture-o

  ul.nav.pull-right
    li.dropdown#fat-menu
      a.dropdown-toggle#profile-dropdown(href="#", role="button", data-toggle="dropdown")
        if _(principal).has("image")
          img.pull-left.img-rounded(src="#{principal.image.url}", width="24" height="24")
        else
          img.pull-left.img-rounded(src="/images/default.png", width="24", height="24")
        | &nbsp;
        span.hidden-phone!= principal.displayName
        b.caret

      ul.dropdown-menu(role="menu", aria-labelledby="profile-dropdown")
        li
          a(tabindex="-1", href="/#{principalUser.nickname}") #{t('Activity')}
        li
          a(tabindex="-1", href="/#{principalUser.nickname}/favorites") #{t('Favorites')}
        li
          a(tabindex="-1", href="/#{principalUser.nickname}/followers") #{t('Followers')}
        li
          a(tabindex="-1", href="/#{principalUser.nickname}/following") #{t('Following')}
        li
          a(tabindex="-1", href="/#{principalUser.nickname}/lists") #{t('Lists')}
        li.divider
        li
          a(tabindex="-1", href="/main/settings") #{t('Profile')}
        li
          a(tabindex="-1", href="/main/account") #{t('Account')}
        li.divider
        li
          a#logout(tabindex="-1", href="#") #{t('Log out')}

  .pull-right
    include ./messages.jade
    | &nbsp;
    include ./notifications.jade
